:root {
    --primary-bg-color: #2F303A;
    --title-text-color: #212121;
}

body {
    font-family: 'Roboto', sans-serif;
}

p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}


/*for hidden items */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
}


/* header */

.header-top {
    display: flex;
    align-items: center;
}

.line-bottom {
    border-bottom: 1px solid #ECECEC;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;
}

.header-top span {
    color: #000;
}

.nav-list {
    display: flex;
}

.nav-list a {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.header-links {
    display: flex;
    margin-left: auto;
}

.header-links li:not(:last-child) {
    margin-right: 50px;
}

.header-link {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}

.header-top ul li a:hover {
    color: #2196F3;
}


/* main */

main {
    text-align: center;
}

section h2 {
    margin-top: 94px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}


/* banner */

.banner {
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--primary-bg-color);
}

.banner-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.banner-btn {
    width: 200px;
    height: 50px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    color: white;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
}

.banner-btn:hover,
.banner-btn:focus {
    background: #188CE8;
}


/* features */

.features{
    padding-top: 94px;
}

.features-list {
    display: flex;
}

.features-list h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.features-list li {
    width: 270px;
    text-align: left;
    margin-right: 30px;
}

.features-list li:not(:last-child) {
    margin-right: 30px;
}

.features-list p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}


/*
about */

.about {
    display: flex;
    flex-direction: column;
}

.about-list {
    display: flex;
    justify-content: center;
}

.about-list-item {
    margin-right: 30px;
}


/* teams */

.teams {
    background: #F5F4FA;
    display: flex;
    flex-direction: column;
    margin-top: 94px;
    padding-bottom: 94px;
}

.teams-list {
    display: flex;
    justify-content: center;
}

.teams-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.teams-item:not(:last-child) {
    margin-right: 30px;
}

.teams-wrap{
    margin: 30px 30px;
}

.teams-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    
}

.teams-list-descr {
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 30px;
}


/* footer */

footer {
    width: 100%;
    height: 252px;
    background: var(--primary-bg-color);
}

footer a {
    color: white;
}

.footer-bottom {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-logo {
    margin-top: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 93px;
}

address {
    font-style: normal;
    margin-top: 20px;
}

.footer-list {
    margin: 0;
    padding: 0;
}

.footer-list a {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
    color: white;
}


/* for footer link */

.color-white {
    color: white;
}


/* portfolio */

.main-filter{
    display: flex;
    justify-content: center;
}

.main-list{
    display: flex;
    align-items: center;
    margin-top: 94px;
}

.main-list li:not(:last-child) {
    margin-right: 20px;
}

.main-list-btn {
    padding: 20px 40px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: #F5F4FA;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-list-btn:hover {
    color: white;
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
}

.store-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1250px;
}

.store-item {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin: 0 30px 30px 0;
}

.store-item h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.store-item p {
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #757575;
    margin-top: 4px;
}

.store-wrap {
    text-align: start;
    padding: 24px;
}